$active-color: #FC5622;

.pagePath {
    height: 32px;
    padding-left: 90px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    border-bottom: 1px solid #000;

    button, 
    p {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
    }
    
    button {
        background: none;

        &:last-of-type {
            opacity: .5;
        }

        &:hover {
            color: $active-color;

            transition: color .2s ease-in-out;
        }
    }

    img {
        width: 15px;
        height: 15px;
    }
}