@import 'nullstyle';

$active-color: #FC5622;

body {
    background-color: #FBFBF9;
}

* {
    font-family: "Inter", system-ui;
}

h1 {
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;

}



.wrapper {
    max-width: 1440px;
    margin: 10px auto;

    font-weight: 500;

    background-color: #fff;
    border: 2px solid #000;
    border-bottom: 0px ;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.pageName {
    padding: 10px 10px 10px 90px;
    border-bottom: 1px solid #000;
}

.catalog {
    width: 100%;
    padding: 90px;

    .catalogItems {
        display: flex;
        flex-wrap: wrap;

        border-style: solid;
        border-color: #000;
        border-width: 1px 0 0 1px;
    }
}

